<% records.each do |record| %>
  <tr id="record_<%= record.id %>">
    <th scope='row'><%= record.date %></th>
    <td><%= record.m_sbp %></td>
    <td><%= record.m_dbp %></td>
    <td><%= record.m_pulse %></td>
    <td><%= record.n_sbp %></td>
    <td><%= record.n_dbp %></td>
    <td><%= record.n_pulse %></td>
    <td><%= record.memo %></td>
  </tr>
<% end %>
