<!-- ======= Signup Section ======= -->
<section id="signup-section">
  <div class="d-flex justify-content-center">
    <div class="registration-form">
      <%= form_for(resource, as: resource_name, url: signup_path) do |f| %>
      <div class="form-group">
        <div class="login_title">アカウント登録</div>
      </div>
      <div class="form-group">
        <%= f.text_field :account_name, autocomplete: "account_name", class: "form-control item", placeholder: "Username ※英数角6文字以上" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control item", placeholder: "Password ※英数角6文字以上" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control item", placeholder: "Password(確認)" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control item", placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :accepted,{},checked_value = "true",unchecked_value = "false" %>
          <%= f.label :accepted %>
        </div>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
        <%= f.submit "Create Account", class: "btn btn-block create-account" %>
      </div>
      <% end %>
      <div class="social-media">
        <h5>SNSでログインする</h5>
        <div class="social-icons">
          <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
          <a href="#"><i class="icon-social-github" title="Github"></i></a>
          <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Signup -->
<%= render 'devise/shared/login_form' %>
