- provide(:title, "パスワード変更")
- provide(:h1, "パスワード変更")
/ ======= Profile Section =======
%section#profile-section.section-bg
  .container
    .row
      = render "devise/shared/account_menu", user: @user
      .col-md-9
        .card
          .card-body
            .terms_inner
              %h1.terms_title
                = yield(:h1)
            .row
              .col-md-12
                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  = render "devise/shared/error_messages", resource: resource
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %div
                      = resource.unconfirmed_email
                  
                  .form-group.row
                    = f.label :new_password, class: "col-4 col-form-label"
                    .col-8
                      = f.password_field :password, autocomplete: "new-password", class: "form-control item", placeholder: "Password ※英数角6文字以上"
                  
                  .form-group.row
                    = f.label :confirm_new_password, class: "col-4 col-form-label"
                    .col-8
                      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control item", placeholder: "Password(確認)"
                  
                  .form-group.row
                    = f.label :confirm_new_password, class: "col-4 col-form-label"
                    .col-8
                      = f.password_field :current_password, autocomplete: "current-password", class: "form-control item", placeholder: "現在のPassword"
                  
                  .form-group.row
                    .offset-4.col-8
                      = f.submit "Update", class: "btn btn-primary"
