<%= render "account_menu", user: @user %>
  <div class="col-md-12">
    <div class="profile-inner-text alert-danger">
      現在開発中です。少々お待ちください。
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <%= f.label :m_sbp, class: "col-4 col-form-label" %>
          <div class="col-8">
            <%= f.telephone_field :m_sbp, class: "form-control item", placeholder: "" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :m_dbp, class: "col-4 col-form-label" %>
          <div class="col-8">
            <%= f.telephone_field :m_sbp, class: "form-control item", placeholder: "" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :n_sbp, class: "col-4 col-form-label" %>
          <div class="col-8">
            <%= f.telephone_field :m_sbp, class: "form-control item", placeholder: "" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :n_dbp, class: "col-4 col-form-label" %>
          <div class="col-8">
            <%= f.telephone_field :m_sbp, class: "form-control item", placeholder: "" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-4 col-8">
            <%= f.submit "現在、保存はできません", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
<%= render "account_footer" %>
