<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="nameLogin" class="col-12">
        <% resource = User.new unless resource %>
        <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
        <div class="demo-alert alert-danger">
          <p>デモアカウントでもログインできます。<br><b>testuser</b> / <b>foobar</b></p>
        </div>
        <div class="form-group">
            <%= f.text_field :account_name, autocomplete: "account_name", class: "form-control item", placeholder: "アカウント名" %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, class: "form-control item", placeholder: "Password",  autocomplete: "current-password" %>
        </div>
        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-block btn-blue" %>
          <div class="checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
          <div>
            <%=link_to "パスワードを忘れた", passwords_new_path %>
          </div>
        </div>
        <% end %>
      </div>
      <div id="snsLogin" class="col-12">
        <div class="social-media text-center">
          <h5>SNSログインはこちら</h5>
          <ul class="social-network social-circle">
            <li>
              <%= link_to user_facebook_omniauth_authorize_path, class: "iconFacebook", title: "Facebook" do %>
                <i class="fab fa-facebook-f"></i>
              <% end %>
            </li>
            <li>
              <%= link_to user_twitter_omniauth_authorize_path, class: "iconTwitter", title: "Twitter" do %>
                <i class="fab fa-twitter"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
