- provide(:title, "血圧予防コラム")
- provide(:h1, "血圧予防コラム")
/ ======= Read/Unread Section =======
%section#read-section
  .container.registration-form
    .row
      .col-md-3
        .list-group
          = link_to "コラム一覧", articles_path, class: "list-group-item list-group-item-action  #{'active' if current_page?(articles_path)}"
      .col-md-9
        .card
          .card-body
            .terms_inner
              %h1.terms_title
                = yield(:h1)
            .row
              .col-md-12.unread_articles
                %h2 未読の記事
                - if @unread_articles.present?
                  %ul
                    - @unread_articles.each do |article|
                      %li
                        = link_to article.title, article_path(article.id)
                - else
                  %ul
                    %li 未読の記事はありません。
              .col-md-12.read_articles
                %h2 既読の記事
                %ul
                  - @read_articles.each do |article|
                    %li
                      = link_to article.title, article_path(article.id)
