<% provide(:title, "パスワードリセット") %>
<% provide(:h1, "パスワードリセット") %>
<%= render "devise/shared/signup_menu", user: @user %>
<div class="col-md-12">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group row">
      <%= f.label :password, class: "col-4 col-form-label" %>
      <div class="col-8">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control item", placeholder: "※英数角#{@minimum_password_length}文字以上" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-4 col-form-label" %>
      <div class="col-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control item" %>
      </div>
    </div>
    <%= f.submit "パスワードをリセット", class: "btn btn-block btn-blue" %>
  <% end %>
</div>

<%= render 'devise/shared/account_footer' %>
