<% provide(:title, "パスワードをお忘れですか？") %>
<% provide(:h1, "パスワードをお忘れですか？") %>
<%= render "devise/shared/signup_menu", user: @user %>
<div class="col-md-12">
  <div>
    <p>パスワードをリセットするにはメールアドレスを入力してください。パスワードのご案内メールを送信いたします。</p>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group row">
      <%= f.label :email, class: "col-4 col-form-label" %>
      <div class="col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control item", placeholder: "email" %>
      </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-block btn-blue" %>
  <% end %>
</div>
<%= render 'devise/shared/account_footer' %>
