<tr>
  <th scope="row" class="text-center">
    <%= link_to record.date, edit_record_path(record.id), remote: true, id: "record-modal", class: "nav-link",
        data: {toggle: "modal", target: "#recordModal"} %>
  </th>
  <td class="text-center"><%= record.m_sbp %></td>
  <td class="text-center"><%= record.m_dbp %></td>
  <td class="text-center"><%= record.m_pulse %></td>
  <td class="text-center"><%= record.n_sbp %></td>
  <td class="text-center"><%= record.n_dbp %></td>
  <td class="text-center"><%= record.n_pulse %></td>
  <td class="text-center"><%= record.memo %></td>
</tr>
