%tr
  %th.text-center
    = link_to record.date, edit_record_path(record.id), remote: true, id: "record-modal", class: "nav-link", data: { toggle: "modal", target: "#modal-record" }
  %td.text-center
    = record.m_sbp
  %td.text-center
    = record.m_dbp
  %td.text-center
    = record.m_pulse
  %td.text-center
    = record.n_sbp
  %td.text-center
    = record.n_dbp
  %td.text-center
    = record.n_pulse
  %td.text-center
    = record.memo
