= form_for(@post, url: admins_posts_path) do |f|
  = render partial: "admins/posts/error_messages"
  .field
    = f.label :title, for: "inputTitle"
    = f.text_field :title, placeholder: "記事タイトル", class: "form-control"
  .field
    = f.label :content, for: "inputContent"
    = f.text_area :content, placeholder: "記事本文...", class: "form-control"

  .field
    = f.label :pictures
    - @post.pictures.each do |picture|  
      .post_pictures_box
        = f.fields_for :pictures, picture do |pic|
          = image_tag picture.name.url(:thumb) if picture.name?
          = pic.label :name
          = pic.file_field :name, accept: 'image/jpeg,image/gif,image/png'

  .field
    = f.label :status, for: "inputStatus"
    = f.select :status, Post.statuses_i18n.invert, {}, { class: "form-control" }

  = f.submit "投稿する", class: "btn btn-primary"

:javascript
  $('input[type=file]').bind("change", function() {
    var size_in_megabytes = $(this).prop('files')[0].size/1024/1024;
    if (size_in_megabytes > 5) {
    alert("5MB以上のファイルはアップロードできません。");
    }
  });
