- provide(:title, "ログイン")
- provide(:h1, "ログイン")
/ ======= Signup Section =======
%section#signup-section.section-bg
  .container.registration-form
    .row
      = render "devise/shared/signup_menu", user: @user
      .col-md-9
        .card
          .card-body
            .terms_inner
              %h1.terms_title
                = yield(:h1)
            .row
              .col-md-12
                = form_for(resource, as: resource_name, url: login_path) do |f|
                  = render "devise/shared/error_messages", resource: resource
                  .demo-alert.alert-danger
                    %p 
                      【採用担当者の方へ】デモアカウントでもログインできます。
                      %br
                      <b>testuser</b> / <b>foobar</b>
                  
                  .form-group.row
                    = f.label :account_name, class: "col-4 col-form-label"
                    .col-8
                      = f.text_field :account_name, autocomplete: "account_name", class: "form-control item"
                  
                  .form-group.row
                    = f.label :password, class: "col-4 col-form-label"
                    .col-8
                      = f.text_field :password, autocomplete: "current-password", class: "form-control item"
                  
                  .forgetPassword
                    = link_to "パスワードを忘れた人はこちら", passwords_new_path
                  
                  .form-group
                    = f.submit "ログイン", class: "btn btn-block create-account"
                    .checkbox
                      = f.check_box :remember_me
                      = f.label :remember_me
