<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag '/android-chrome-256x256.png', rel: 'icon', type: 'image/png' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/error_message' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
